/*-------------------- Colors -------------------*/
$HeaderBackgroundColor: rgba(49, 64, 104, 1);
$FooterBackgroundColor: rgba(49, 64, 104, 1);
$BodyBackgroundColor: rgba(221, 204, 182, 0.5);
$linkButton: rgba(146, 90, 104, 1);
$navbarColor: rgba(49, 64, 104, 1);
$asidekinesio: rgb(167, 193, 167);

/*-------------------- Shadows ------------------*/
$textShadowColorDark: white;
$boxShadow: 0 4px 4px RGB(0 0 0 / 10%), 0 10px 10px RGB(0 0 0 / 10%);
$boxShadowHover: 0 4px 4px RGB(0 0 0 / 20%), 0 10px 10px RGB(0 0 0 / 20%);
$boxShadowNav: 0 4px 4px RGB(0 0 0 / 30%);
/*-------------------- Breakpoints -------------------*/
$tablet: 769px;
$desktop: 1350px;
$tb-desk: 1109px;
