/*-------------------- Colors -------------------*/
$HeaderBackgroundColor: rgba(49, 64, 104, 1);
$FooterBackgroundColor: rgba(49, 64, 104, 1);
$BodyBackgroundColor: rgba(221, 204, 182, 0.5);
$DivBackgroundColor: rgba(247, 238, 219, 1);
$linkButton: rgba(146, 90, 104, 1);
$navbarColor: rgba(49, 64, 104, 1);
$asideBackgroundColor: rgba(175, 174, 161, 1);
$titlesColor: rgba(49, 64, 104, 1);

/*-------------------- Shadows ------------------*/
$textShadowColorDark: white;
$boxShadow: 0 4px 4px RGB(0 0 0 / 10%), 0 10px 10px RGB(0 0 0 / 10%);
$boxShadowHover: 0 4px 4px RGB(0 0 0 / 20%), 0 10px 10px RGB(0 0 0 / 20%);
$boxShadowNav: 0 4px 4px RGB(0 0 0 / 30%);
/*-------------------- Breakpoints -------------------*/
$tablet: 769px;
$desktop: 1350px;
$tb-desk: 1109px;
/*-------------------- StarRating -------------------*/
$star-size: 1.5rem;
$empty-color: #d3d3d3;
$filled-color: #ffd700;
$transition-duration: 0.2s;
