.creditsPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image {
      object-fit: cover;
    }
    &__link {
      color: black;
    }
  }
}
