.home {
  &__hero {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    @include tb-desk {
      grid-template-columns: 1.25fr 0.75fr;
      grid-column: 1/3;
    }
    &__container {
      position: relative;
      width: 100vw;
      height: 70vh;
      margin: 0;
      grid-row: 1/4;
      grid-column: 1;

      @include tb-desk {
        height: 80vh !important;
      }
      &__image {
        object-fit: cover;
        opacity: 0.8;
        z-index: -1;
        @include tablet {
          width: 100vw;
        }
        @include tb-desk {
          opacity: 1;
          width: 100%;
        }
      }
      @include tb-desk {
        grid-column: 1/3;
        grid-row: 1/4;
        height: 70vh;
      }
    }
    &__herotitle {
      opacity: 0;
      position: relative;
      grid-row: 1;
      grid-column: 1;
      top: 10%;
      font-style: italic;
      font-size: 30px;
      align-self: center;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      color: $HeaderBackgroundColor;
      animation: ease-in-out 1.5s forwards appear;
      @extend %textShadow;
      @include tb-desk {
        position: relative;
        border-radius: 10px;
        font-size: 45px;
        line-height: 3rem;
        padding-left: 50px;
      }
    }
    &__herosubtitle {
      opacity: 0;
      position: relative;
      grid-row: 2;
      grid-column: 1;
      font-style: italic;
      font-size: 20px;
      animation: ease-in-out 1.5s forwards appear;
      animation-delay: 0.5s;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      color: $HeaderBackgroundColor;
      @extend %textShadow;
      @include tb-desk {
        font-size: 30px;
        padding-left: 50px;
      }
    }
    &__contact {
      margin-top: -68px;
      position: sticky;
      top: 0;
    }
  }
  &__why {
    display: grid;
    justify-content: center;
    position: relative;
    &__container {
      grid-row: 1/3;
      grid-column: 1;
      &__image {
        object-fit: cover;
        opacity: 1;
        width: 100vw;
        height: 120%;
      }
    }
    &__title {
      grid-row: 1;
      grid-column: 1;
      font-style: italic;
      font-size: 25px;
      align-self: center;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      color: $HeaderBackgroundColor;
    }
    &__list {
      grid-row: 2;
      grid-column: 1;
      padding-right: 10px;
      &__element {
        line-height: 1.2rem;
        margin-bottom: 5vw;
      }
    }
  }
  &__accompaniment,
  &__profits {
    display: grid;
    justify-content: center;
    position: relative;
    overflow: hidden;
    top: 50px;
    &__container {
      grid-row: 1/3;
      grid-column: 1;
      &__image {
        object-fit: cover;
        opacity: 1;
        width: 100vw;
        height: 100%;
      }
    }
    &__title {
      grid-row: 1;
      grid-column: 1;
      font-style: italic;
      font-size: 25px;
      align-self: start;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      color: $HeaderBackgroundColor;
    }
    &__textContainer {
      margin: 5px;
      grid-row: 2;
      grid-column: 1;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      &__list {
        &__element {
          line-height: 1.2rem;
          margin-bottom: 5vw;
        }
      }
    }
  }
  &__profits {
    &__title {
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}
