.pricing-contact {
  &__title {
    box-shadow: $boxShadow;
  }
  &__contact {
    display: grid;
    @include tb-desk {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__title {
      @include tb-desk {
        grid-column: 1/4;
      }
    }
    &__address {
      display: grid;
      gap: 0 18px;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      @include tb-desk {
        grid-column: 1;
        justify-self: center;
      }
      &__link {
        color: black;
        display: flex;
        margin: 5px;
        &__phoneIco,
        &__mailIco,
        &__locationIco {
          align-self: center;
          width: 16px;
          margin-right: 5px;
        }
      }
    }
    &__link {
      grid-row: 2;
      @include tb-desk {
        grid-column: 1/4;
      }
    }
    &__map {
      width: 100vw;
      align-self: center;
      justify-self: center;
      margin-bottom: 30px;
      margin-top: 30px;
      border: none;
      @include tb-desk {
        width: 80vw;
        grid-column: 1/4;
      }
    }
    &__schedule {
      display: flex;
      flex-direction: column;
      @include tb-desk {
        grid-column: 2;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
      }
      &__title {
        text-align: left;
        margin-left: 5px;
        color: black;
        &__scheduleIco {
          width: 16px;
          padding-right: 5px;
        }
      }
    }
    &__pricing {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @include tb-desk {
        grid-column: 3;
        align-content: center;
      }
      &__title {
        text-align: left;
        margin-left: 5px;
        color: black;
      }
      &__content {
        padding-left: 25px;
        margin-top: 16px;
      }
    }
  }
}

.indexLink {
  width: 300px;
}

.calendly-inline-widget {
  height: 650px;
}
