.header {
  background-color: $HeaderBackgroundColor;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 30px 0;
  &__title {
    display: flex;
    align-items: center;
    color: white;
    background-color: inherit;
    padding: 10px;
    grid-row: 1;
    &__text {
      display: flex;
      flex-direction: column;
      &__name {
        font-size: 1.5rem;
        font-weight: 600;
      }
      &__job {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
  &__logo {
    width: 90px;
    height: 90px;
  }
}
