.header {
  background-color: $HeaderBackgroundColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: inherit;
    margin: 20px;
    padding: 10px;
    &__name {
      font-size: 1.5rem;
      font-weight: 600;
    }
    &__job {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
