html {
  h2,
  h3 {
    padding: 20px 10px 20px 10px;
    text-align: center;
    margin: 0;
  }
  h1 {
    background-color: rgba(247, 238, 219, 1);
    border-radius: 25px;
    margin: 20px;
    text-align: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    line-height: 3rem;
    color: white;
  }
  p {
    margin: 0;
    padding: 10px;
  }
  body {
    margin: 0;
    background-color: rgba(232, 214, 195, 1);
  }
  figure {
    margin: 0;
  }
  main {
    @include tb-desk {
      margin-left: 20px;
      margin-right: 20px;
    }
    @include desktop {
      margin-right: 150px;
      margin-left: 150px;
    }
  }
}
