html {
  ul {
    list-style-type: none;
    padding: 0;
  }
  h2,
  h3 {
    margin: 0;
  }
  a {
    text-decoration: none;
    line-height: 1.5rem;
    color: white;
  }
  body {
    margin: 0;
  }
  figure {
    margin: 0;
  }
}
